openapi: 3.0.3
info:
  title: WhiteBIT Private HTTP API V4
  description: |
    WhiteBIT Private HTTP API V4 for Main balance changes.

    Base URL: https://whitebit.com

    All endpoints return time in Unix-time format.
    All endpoints return either a JSON object or array.
    For receiving responses from API calls please use http method POST.
  version: 4.0.0
  contact:
    name: WhiteBIT Support
    email: support@whitebit.com
    url: https://whitebit.com

servers:
  - url: https://whitebit.com
    description: Production server

security:
  - ApiKeyAuth: []

tags:
  - name: Main Account
    description: Main account balance and operations
  - name: Deposit
    description: Cryptocurrency and fiat deposit operations
  - name: Withdraw
    description: Cryptocurrency and fiat withdrawal operations
  - name: Transfer
    description: Balance transfer operations
  - name: Codes
    description: WhiteBIT codes operations
  - name: Crypto Lending - Fixed
    description: Fixed crypto lending plans
  - name: Crypto Lending - Flex
    description: Flexible crypto lending plans
  - name: Fees
    description: Fee information
  - name: Sub-Account
    description: Sub-account management
  - name: Sub-Account API Keys
    description: Sub-account API key management
  - name: Mining Pool
    description: Mining pool operations
  - name: Credit Line
    description: Credit line information
  - name: JWT
    description: JWT token management

paths:
  /api/v4/main-account/balance:
    post:
      tags:
        - Main Account
      summary: Get main balance
      description: |
        This endpoint retrieves the [main balance](/glossary/#balance-main) by currency [ticker](/glossary/#ticker) or all balances.

        <Warning>
          Rate limit: 1000 requests/10 sec.
        </Warning>
      operationId: getMainBalance
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - request
                - nonce
              properties:
                ticker:
                  type: string
                  description: Currency's ticker.
                  example: BTC
                request:
                  type: string
                  description: Request signature
                nonce:
                  type: string
                  description: Unique request identifier
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                additionalProperties:
                  type: object
                  properties:
                    main_balance:
                      type: string
                      description: Main balance volume
              example:
                BSV:
                  main_balance: "0"
                BTC:
                  main_balance: "0"
                BTG:
                  main_balance: "0"
                BTT:
                  main_balance: "0"
                XLM:
                  main_balance: "36.48"
        "400":
          description: Validation failed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"

  /api/v4/main-account/address:
    post:
      tags:
        - Deposit
      summary: Get cryptocurrency deposit address
      description: |
        This endpoint retrieves a deposit address of the cryptocurrency.

        <Warning>
        Rate limit: 1000 requests/10 sec.
        </Warning>

      operationId: getDepositAddress
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - ticker
                - request
                - nonce
              properties:
                ticker:
                  type: string
                  description: |
                    Currencies ticker. Example: BTC ⚠️ Currency [ticker](/glossary/#ticker) should not be [fiat](/glossary/#fiat) and it’s “can_deposit” status must be “true”. You can find this status in https://whitebit.com/api/v4/public/assets response.
                  example: BTC
                network:
                  type: string
                  description: |
                    Cryptocurrency network. ⚠️ If currency has multiple networks like USDT - you need to specify network to be used. You can find [ticker](/glossary/#ticker) networks list in “networks” field from response https://whitebit.com/api/v4/public/assets.
                  example: ERC20
                request:
                  type: string
                  description: Request signature
                nonce:
                  type: string
                  description: Unique request identifier
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  account:
                    type: object
                    properties:
                      address:
                        type: string
                        description: Deposit address
                      memo:
                        type: string
                        description: Memo if currency requires memo
                  required:
                    type: object
                    properties:
                      fixedFee:
                        type: string
                        description: Fixed deposit fee
                      flexFee:
                        type: object
                        description: Flexible fee - is fee that use percent rate
                        properties:
                          maxFee:
                            type: string
                            description: Maximum fixed fee that you will pay
                          minFee:
                            type: string
                            description: Minimum fixed fee that you will pay
                          percent:
                            type: string
                            description: Percent of deposit that you will pay
                      maxAmount:
                        type: string
                        description: Max amount of deposit that can be accepted by exchange - if you deposit more than that number, it won't be accepted by exchange
                      minAmount:
                        type: string
                        description: Min amount of deposit that can be accepted by exchange - if you will deposit less than that number, it won't be accepted by exchange
              example:
                account:
                  address: "GDTSOI56XNVAKJNJBLJGRNZIVOCIZJRBIDKTWSCYEYNFAZEMBLN75RMN"
                  memo: "48565488244493"
                required:
                  fixedFee: "0"
                  flexFee:
                    maxFee: "0"
                    minFee: "0"
                    percent: "0"
                  maxAmount: "0"
                  minAmount: "1"
        "400":
          description: Validation failed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "503":
          description: Service temporary unavailable

  /api/v4/main-account/fiat-deposit-url:
    post:
      tags:
        - Deposit
      summary: Get fiat deposit address
      description: |
        This endpoint retrieves a deposit url of the [fiat](/glossary/#fiat) invoice.

        Please, pay attention that this endpoint works on demand. It means that you need to contact WhiteBIT support and provide your API key to get access to this functionality.

        <Warning>
        If you have used VISAMASTER as [provider](/glossary/#provider), you must pass [referer header](https://developer.mozilla.org/ru/docs/Web/HTTP/Headers/Referer) when you go to the invoice link (for example, pass referer header when you go to https://someaddress.com). Otherwise if there is no header (for example, you go to https://someaddress.com from Telegram message) you will be redirected to the WhiteBIT homepage
        </Warning>
        
        <Warning>
        Rate limit: 1000 requests/10 sec.
        </Warning>
      operationId: getFiatDepositUrl
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - ticker
                - provider
                - amount
                - uniqueId
                - request
                - nonce
              properties:
                ticker:
                  type: string
                  description: Currency's ticker (fiat). ⚠️ Currencies ticker should be fiat and has "can_deposit" status must be "true". Use https://whitebit.com/api/v4/public/assets to know more about currency.
                  example: UAH
                provider:
                  type: string
                  description: Fiat currency provider. ⚠️ Currency provider should be taken from https://whitebit.com/api/v4/public/assets response.
                  example: VISAMASTER
                amount:
                  type: string
                  description: Deposit amount
                  example: "100"
                uniqueId:
                  type: string
                  description: Unique transaction identifier on client's side
                customer:
                  type: object
                  description: Customer information (required for USD/EUR with VISAMASTER provider)
                  properties:
                    firstName:
                      type: string
                      description: |
                        Customer billing first name.

                        ⚠️ Required if currency USD or EUR with VISAMASTER provider.
                    lastName:
                      type: string
                      description: |
                        Customer billing last name.

                        ⚠️ Required if currency USD or EUR with VISAMASTER provider.
                    email:
                      type: string
                      description: |
                        Customer billing email.

                        ⚠️ Required if currency USD or EUR with VISAMASTER provider.
                    birthDate:
                      type: string
                      format: date
                      description: |
                        Customer birth date (Format YYYY-MM-DD).

                        ⚠️ Required if currency USD or EUR with VISAMASTER provider.
                    address:
                      type: object
                      properties:
                        line1:
                          type: string
                          description: |
                            Customer address line1.

                            ⚠️ Required if currency USD or EUR with VISAMASTER provider.
                        line2:
                          type: string
                          description: Customer address line2
                        city:
                          type: string
                          description: |
                            Customer city.

                            ⚠️ Required if currency USD or EUR with VISAMASTER provider.
                        zipCode:
                          type: string
                          description: |
                            Customer zip-code.

                            ⚠️ Required if currency USD or EUR with VISAMASTER provider.
                        countryCode:
                          type: string
                          description: |
                            Customer country code.

                            ⚠️ Required if currency USD or EUR with VISAMASTER provider.
                successLink:
                  type: string
                  description: Customer will be redirected to this URL by acquiring provider after success deposit. To activate this feature, please contact support
                failureLink:
                  type: string
                  description: Customer will be redirected to this URL in case of fail or rejection on acquiring provider side. To activate this feature, please contact support
                returnLink:
                  type: string
                  description: Customer will be redirected to the URL defined if selects 'back' option after from the payment success or failure page. To activate this feature, define desired link. If not populated, option 'back' won't be displayed
                request:
                  type: string
                  description: Request signature
                nonce:
                  type: string
                  description: Unique request identifier
            examples:
              basic:
                summary: Basic request
                value:
                  ticker: "UAH"
                  provider: "VISAMASTER"
                  amount: "100"
                  uniqueId: "{{generateID}}"
                  request: "{{request}}"
                  nonce: "{{nonce}}"
              withCustomer:
                summary: Request with customer fields
                value:
                  ticker: "UAH"
                  provider: "VISAMASTER"
                  amount: "100"
                  uniqueId: "{{generateID}}"
                  customer:
                    firstName: "John"
                    lastName: "Doe"
                    email: "john_doe@email.com"
                    address:
                      line1: "Martinez Campos 37"
                      city: "Madrid"
                      zipCode: "28010"
                      countryCode: "ES"
                  request: "{{request}}"
                  nonce: "{{nonce}}"
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  url:
                    type: string
                    description: Address for deposit
              example:
                url: "https://someaddress.com"
        "400":
          description: Validation failed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "503":
          description: Service temporary unavailable

  /api/v4/jwt:
    post:
      tags:
        - JWT
      summary: Issue JWT token
      description: |
        This endpoint issues a JWT token for the Fiat Gateway service.
        The token is used to authenticate requests to the Fiat Gateway API.
      operationId: issueJwtToken
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - request
                - nonce
              properties:
                request:
                  type: string
                  description: Request signature
                nonceWindow:
                  type: boolean
                  description: Nonce window setting
                nonce:
                  type: string
                  description: Unique request identifier
            example:
              request: "{{request}}"
              nonceWindow: false
              nonce: "{{nonce}}"
      responses:
        "201":
          description: Validation succeeded and JWT token is returned
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      token:
                        type: string
                        description: JWT token
                      expires_at:
                        type: integer
                        description: Token expiration timestamp
              example:
                data:
                  token: "eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCJ9..."
                  expires_at: 1622551200
        "400":
          description: Missing required fields or invalid data
        "401":
          description: Invalid API key, signature, or nonce
        "500":
          description: Server configuration issues

  /api/card-token:
    post:
      tags:
        - Deposit
      summary: Issue card token
      description: |
        This endpoint issues a card token for the specified card number.


        <Warning>
        Rate limit: 1000 requests/10 sec.
        </Warning>
      operationId: issueCardToken
      servers:
        - url: https://whitebit.com
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - cardNumber
              properties:
                cardNumber:
                  type: string
                  description: Target card number
                  example: "4111111111111111"
            example:
              cardNumber: "4111111111111111"
      responses:
        "201":
          description: Validation succeeded and card token is returned
        "401":
          description: Request authorization failed
        "422":
          description: |
            Inner validation failed

            Response error codes:
            - 1 - specified card number is invalid
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorInner"
              examples:
                invalidCardNumber:
                  summary: Invalid card number
                  value:
                    code: 1
                    message: "Validation failed"
                    errors:
                      cardNumber: ["The cardNumber field is invalid."]
                tooManyAttempts:
                  summary: Too many attempts (throttling)
                  value:
                    message: "Too Many Attempts."
                    code: 0

  /api/v4/main-account/withdraw:
    post:
      tags:
        - Withdraw
      summary: Create withdraw request
      description: |
        This endpoint creates withdraw for the specified ticker.


        <Warning>
        Rate limit: 1000 requests/10 sec.
        </Warning>
      operationId: createWithdraw
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - ticker
                - amount
                - address
                - uniqueId
                - request
                - nonce
              properties:
                ticker:
                  type: string
                  description: |
                    Currency's ticker. Example: BTC

                    ⚠️ Currencies ticker must have "can_deposit" status equal to "true". Use https://whitebit.com/api/v4/public/assets to know more about currency.
                  example: ETH
                amount:
                  type: string
                  description: |
                    Withdraw amount (including fee). If you want fee to be added to the specified amount, you need to use /main-account/withdraw-pay request.
                  example: "0.9"
                address:
                  type: string
                  description: Target address (wallet address for cryptocurrencies, identifier/card token for fiat currencies)
                  example: "0x0964A6B8F794A4B8d61b62652dB27ddC9844FB4c"
                memo:
                  type: string
                  description: |
                    Memo.

                    ⚠️ Required if currency is memoable.
                uniqueId:
                  type: string
                  description: |
                    Unique transaction identifier.

                    ⚠️ Note that you should generate new unique id for each withdrawal request.
                  example: "24529041"
                provider:
                  type: string
                  description: |
                    Fiat currency provider. Example: VISAMASTER

                    ⚠️ Required for fiat currencies. Currency provider should be taken from https://whitebit.com/api/v4/public/assets response.
                network:
                  type: string
                  description: |
                    Cryptocurrency network. Available for multi network currencies. Example: OMNI

                    ⚠️ Currency network should be taken from https://whitebit.com/api/v4/public/assets response. Default for USDT is ERC20
                  example: ERC20
                partialEnable:
                  type: boolean
                  description: Optional parameter for FIAT withdrawals with increased Maximum Limit if set as "true". In order to use this parameter your application should support "Partially successful" withdrawal status and latest updates in deposit/withdrawal history.
                beneficiary:
                  type: object
                  description: |
                    Beneficiary information data array.

                    ⚠️ Required if currency ticker is one of: UAH_IBAN, USD_VISAMASTER, EUR_VISAMASTER, USD, EUR
                  properties:
                    firstName:
                      type: string
                      description: |
                        Beneficiary first name. Max length: 40 symbols, latin letters and special characters.

                        ⚠️ Required if currency ticker is one of: UAH_IBAN, USD_VISAMASTER, USD, EUR
                    lastName:
                      type: string
                      description: |
                        Beneficiary last name. Max length: 40 symbols, latin letters and special characters.

                        ⚠️ Required if currency ticker is one of: UAH_IBAN, USD_VISAMASTER, USD, EUR
                    tin:
                      type: integer
                      description: |
                        Beneficiary TAX payer number. Integer, 10 digits.

                        ⚠️ Required if currency is UAH_IBAN.
                    phone:
                      type: string
                      description: |
                        Beneficiary phone number.

                        ⚠️ Required if currency ticker is one of: USD_VISAMASTER, EUR_VISAMASTER
                    email:
                      type: string
                      description: |
                        Beneficiary email.

                        ⚠️ Required if currency ticker is one of: USD_VISAMASTER, EUR_VISAMASTER
                    birthDate:
                      type: string
                      format: date
                      description: |
                        Beneficiary birth date. Format: YYYY-MM-DD.

                        ⚠️ Required if currency ticker is one of: USD_VISAMASTER, EUR_VISAMASTER
                travelRule:
                  type: object
                  description: |
                    Travel Rule information data array.

                    ⚠️ Required if currency is crypto and you are from EEA
                  properties:
                    type:
                      type: string
                      enum: [individual, entity]
                      description: |
                        Travel rule receiver type. Values: "individual" or "entity"

                        ⚠️ Required if currency is crypto and you are from EEA
                    vasp:
                      type: string
                      description: |
                        Travel rule destination platform (VASP) name.

                        ⚠️ Required if currency is crypto and you are from EEA
                    name:
                      type: string
                      description: |
                        Travel rule. If individual - first_name ; if entity - entity_name

                        ⚠️ Required if currency is crypto and you are from EEA
                    address:
                      type: string
                      description: |
                        Travel rule. If individual - last_name ; if entity - entity_address

                        ⚠️ Required if currency is crypto and you are from EEA
                paymentDescription:
                  type: string
                  description: |
                    Description of withdrawal destination

                    ⚠️ Required if currency is crypto and withdrawal from whitebit-tr.com
                request:
                  type: string
                  description: Request signature
                nonce:
                  type: string
                  description: Unique request identifier
            examples:
              crypto:
                summary: Crypto withdrawal
                value:
                  ticker: "ETH"
                  amount: "0.9"
                  address: "0x0964A6B8F794A4B8d61b62652dB27ddC9844FB4c"
                  uniqueId: "24529041"
                  request: "{{request}}"
                  nonce: "{{nonce}}"
              multiNetwork:
                summary: Multinetwork currency (USDT)
                value:
                  ticker: "USDT"
                  amount: "0.9"
                  address: "0x0964A6B8F794A4B8d61b62652dB27ddC9844FB4c"
                  uniqueId: "24529042"
                  network: "ERC20"
                  request: "{{request}}"
                  nonce: "{{nonce}}"
              fiat:
                summary: Fiat withdrawal
                value:
                  ticker: "UAH"
                  amount: "100"
                  provider: "VISAMASTER"
                  uniqueId: "24529043"
                  request: "{{request}}"
                  nonce: "{{nonce}}"
              fiatPartial:
                summary: Fiat with partial enable
                value:
                  ticker: "UAH"
                  amount: "50000"
                  address: "t6XIpyirkiLP+I++XHWfSeGrn5p38g=="
                  provider: "VISAMASTER_PAYCORE"
                  partialEnable: true
                  uniqueId: "24529045"
                  request: "{{request}}"
                  nonce: "{{nonce}}"
              fiatIban:
                summary: Fiat IBAN currency
                value:
                  ticker: "UAH"
                  amount: "50000"
                  address: "UA213223130000026007233566001"
                  beneficiary:
                    firstName: "Firstname"
                    lastName: "Lastname"
                    tin: 1000000000
                  provider: "UAH_IBAN"
                  uniqueId: "24529045"
                  request: "{{request}}"
                  nonce: "{{nonce}}"
              fiatVisamaster:
                summary: Fiat USD/EUR VISAMASTER
                value:
                  ticker: "USD"
                  amount: "30000"
                  address: "t6XIpyirkiLP+I++XHWfSeGrn5p38g=="
                  beneficiary:
                    firstName: "Firstname"
                    lastName: "Lastname"
                    phone: "1234567891"
                    email: "john_doe@email.com"
                  provider: "USD_VISAMASTER"
                  uniqueId: "24529045"
                  request: "{{request}}"
                  nonce: "{{nonce}}"
              travelRuleIndividual:
                summary: Travel rule (individual)
                value:
                  ticker: "BTC"
                  amount: "0.5"
                  address: "bc1qxy2kgdygjrsqtzq2n0yrf2493p83kkfjhx0wlh"
                  uniqueId: "24529046"
                  travelRule:
                    type: "individual"
                    vasp: "Binance"
                    name: "John"
                    address: "123 Business Street, London, UK"
                  request: "{{request}}"
                  nonce: "{{nonce}}"
              travelRuleEntity:
                summary: Travel rule (entity)
                value:
                  ticker: "BTC"
                  amount: "1.2"
                  address: "bc1qxy2kgdygjrsqtzq2n0yrf2493p83kkfjhx0wlh"
                  uniqueId: "24529047"
                  travelRule:
                    type: "entity"
                    vasp: "Kraken"
                    name: "Acme Corp"
                    address: "123 Business Street, London, UK"
                  request: "{{request}}"
                  nonce: "{{nonce}}"
      responses:
        "201":
          description: Validation succeeded and withdraw creation process is started. Go to deposit/withdraw history and check your request status by uniqueId.
          content:
            application/json:
              schema:
                type: array
                items: {}
                description: Empty array indicates success
              example: []
        "400":
          description: |
            Request validation failed

            Response error codes:
            - 1 - currency is not withdrawable
            - 2 - specified address is invalid
            - 3 - amount is too small
            - 4 - amount is too small for the payment system
            - 5 - not enough balance
            - 6 - amount is less than or equals fee
            - 7 - amount should be integer (can happen for currencies with zero precision like Neo)
            - 8 - target withdraw amount without fee equals zero
            - 9 - address is unavailable (occurs for withdraws to own address)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              examples:
                missingFields:
                  summary: Missing required fields
                  value:
                    code: 0
                    message: "Validation failed"
                    errors:
                      address: ["The address field is required."]
                      amount: ["The amount field is required."]
                      ticker: ["The ticker field is required."]
                      uniqueId: ["The unique id field is required."]
                duplicateUniqueId:
                  summary: Duplicate uniqueId
                  value:
                    code: 0
                    message: "Validation failed"
                    errors:
                      uniqueId: ["The unique id has already been taken."]
                unconfirmedUser:
                  summary: Unconfirmed user (without KYC)
                  value:
                    code: 0
                    message: "Validation failed"
                    errors:
                      amount:
                        - "This currency has no active pairs or it may have been delisted. Its rate cannot be calculated at the moment."
                        - "Current limit exceeded"
        "422":
          description: |
            Inner validation failed

            Response error codes:
            - 1 - currency is not withdrawable
            - 2 - specified address is invalid
            - 3 - amount is too small
            - 4 - amount is too small for the payment system
            - 5 - not enough balance
            - 6 - amount is less than or equals fee
            - 7 - amount should be integer (can happen for currencies with zero precision like Neo)
            - 8 - target withdraw amount without fee equals zero
            - 9 - address is unavailable (occurs for withdraws to own address)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorInner"

  /api/v4/main-account/withdraw-pay:
    post:
      tags:
        - Withdraw
      summary: Create withdraw request with specific withdraw amount (fee not included)
      description: |
        This endpoint has the similar logic as /main-account/withdraw, but with the only difference: amount that is specified will not include fee (it will be calculated to make target withdraw amount equal to the specified amount).

        **Example:**
        - When you create base withdraw and set amount = 100 USD, receiver will receive 100 USD - fee amount, and your balance will decrease by 100 USD.
        - When you use this endpoint and set amount = 100 USD, receiver will receive 100 USD, and your balance will decrease by 100 USD + fee amount.


        <Warning>
        Rate limit: 1000 requests/10 sec.
        </Warning>
      operationId: createWithdrawPay
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/WithdrawRequest"
      responses:
        "201":
          description: Validation succeeded and withdraw creation process is started. Go to deposit/withdraw history and check your request status by uniqueId.
          content:
            application/json:
              schema:
                type: array
                items: {}
                description: Empty array indicates success
              example: []
        "400":
          description: |
            Request validation failed

            Response error codes:
            - 1 - currency is not withdrawable
            - 2 - specified address is invalid
            - 3 - amount is too small
            - 4 - amount is too small for the payment system
            - 5 - not enough balance
            - 6 - amount is less than or equals fee
            - 7 - amount should be integer (can happen for currencies with zero precision like Neo)
            - 8 - target withdraw amount without fee equals zero
            - 9 - address is unavailable (occurs for withdraws to own address)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              examples:
                missingFields:
                  summary: Missing required fields
                  value:
                    code: 0
                    message: "Validation failed"
                    errors:
                      address: ["The address field is required."]
                      amount: ["The amount field is required."]
                      ticker: ["The ticker field is required."]
                      uniqueId: ["The unique id field is required."]
                duplicateUniqueId:
                  summary: Duplicate uniqueId
                  value:
                    code: 0
                    message: "Validation failed"
                    errors:
                      uniqueId: ["The unique id has already been taken."]
                unconfirmedUser:
                  summary: Unconfirmed user (without KYC)
                  value:
                    code: 0
                    message: "Validation failed"
                    errors:
                      amount:
                        - "This currency has no active pairs or it may have been delisted. Its rate cannot be calculated at the moment."
                        - "Current limit exceeded"
        "422":
          description: |
            Inner validation failed

            Response error codes:
            - 1 - currency is not withdrawable
            - 2 - specified address is invalid
            - 3 - amount is too small
            - 4 - amount is too small for the payment system
            - 5 - not enough balance
            - 6 - amount is less than or equals fee
            - 7 - amount should be integer (can happen for currencies with zero precision like Neo)
            - 8 - target withdraw amount without fee equals zero
            - 9 - address is unavailable (occurs for withdraws to own address)
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorInner"

  /api/v4/main-account/transfer:
    post:
      tags:
        - Transfer
      summary: Transfer between balances
      description: |
        This endpoint transfers the specified amount between main, trade and collateral balances.


        <Warning>
        Rate limit: 1000 requests/10 sec.
        </Warning>
      operationId: transferBetweenBalances
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - ticker
                - amount
                - request
                - nonce
              properties:
                method:
                  type: string
                  description: |
                    Transfer method.

                    ⚠️ We highly recommend to use **from** and **to** fields, which provides more flexibility. This way will be deprecated in future.

                    Example: **deposit** if you need to transfer from main to trade / **withdraw** if you need to transfer from trade balance to main. For collateral balances you can use **collateral-deposit** to transfer from main to collateral balance and **collateral-withdraw** to transfer from collateral balance to main

                    **Not required** if **from** and **to** are set.
                  enum:
                    [deposit, withdraw, collateral-deposit, collateral-withdraw]
                from:
                  type: string
                  description: |
                    Balance FROM which funds will move to. Acceptable values: **main**, **spot**, **collateral**

                    **Not required** if **method** is set.
                  enum: [main, spot, collateral]
                to:
                  type: string
                  description: |
                    Balance TO which funds will move to. Acceptable values: **main**, **spot**, **collateral**

                    **Not required** if **method** is set.
                  enum: [main, spot, collateral]
                ticker:
                  type: string
                  description: Currency's ticker.
                  example: XLM
                amount:
                  type: string
                  description: Amount to transfer. Max precision = 8, value should be greater than zero and less or equal your available balance.
                  example: "0.9"
                request:
                  type: string
                  description: Request signature
                nonce:
                  type: string
                  description: Unique request identifier
            examples:
              usingMethod:
                summary: Using method field (deprecated)
                value:
                  ticker: "XLM"
                  amount: "0.9"
                  method: "deposit"
                  request: "{{request}}"
                  nonce: "{{nonce}}"
              usingFromTo:
                summary: Using from/to fields (recommended)
                value:
                  ticker: "XLM"
                  amount: "0.9"
                  from: "main"
                  to: "spot"
                  request: "{{request}}"
                  nonce: "{{nonce}}"
      responses:
        "201":
          description: All validations succeeded and creating transaction is started
          content:
            application/json:
              schema:
                type: array
                items: {}
                description: Empty array indicates success
              example: []
        "400":
          description: Request validation failed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              examples:
                missingFields:
                  summary: Missing required fields
                  value:
                    code: 0
                    message: "Validation failed"
                    errors:
                      amount: ["The amount field is required."]
                      method: ["The method field is required."]
                      ticker: ["The ticker field is required."]
                invalidTicker:
                  summary: Invalid ticker
                  value:
                    code: 0
                    message: "Validation failed"
                    errors:
                      ticker: ["The selected ticker is invalid."]
                unconfirmedUser:
                  summary: Unconfirmed user (without KYC)
                  value:
                    code: 0
                    message: "Validation failed"
                    errors:
                      amount:
                        - "This currency has no active pairs or it may have been delisted. Its rate cannot be calculated at the moment."
                        - "Current limit exceeded"
        "422":
          description: |
            Inner validation failed

            Response error codes:
            - 1 - transfers from trade to main are disabled
            - 2 - transfers from main to trade are disabled
            - 3 - not enough balance
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorInner"

  /api/v4/main-account/history:
    post:
      tags:
        - Main Account
      summary: Get deposit/withdraw history
      description: |
        This endpoint retrieves the history of deposits and withdraws.

        **Deposit status codes:**
        - `Successful` - 3, 7
        - `Canceled` - 4, 9
        - `Unconfirmed by user` - 5
        - `Frozen` - 21
        - `Uncredited` - 22
        - `Pending` - 15

        **Travel Rule Deposit check status codes:**
        - `Awaiting verification` - 27: The transaction has been frozen due to the lack of data required under the Travel Rule. The user is required to provide this data manually through the exchange interface.
        - `Confirmation in progress` - 28: The Travel Rule data provided by the user is currently being verified by WhiteBIT.

        ⚠️ Due to regulatory requirements in Turkey and EU, every inbound crypto deposit must be put on hold (frozen) until transaction's origin being confirmed. Must be provided certain details if the transaction is from another Virtual Asset Service Provider (VASP) or verify the address if it is from a self-hosted wallet. Only after successful verification can the deposited funds be credited to account.

        **Withdraw status codes:**
        - `Pending` - 1, 2, 6, 10, 11, 12, 13, 14, 15, 16, 17
        - `Successful` - 3, 7
        - `Canceled` - 4
        - `Unconfirmed by user` - 5
        - `Frozen` - 21
        - `Partially successful` - 18


        <Warning>
        Rate limit: 200 requests/10 sec.
        </Warning>
      operationId: getDepositWithdrawHistory
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - request
                - nonce
              properties:
                transactionMethod:
                  type: integer
                  description: |
                    Method. Example: **1** to display deposits / **2** to display withdraws. Do not send this parameter in order to receive both deposits and withdraws.
                  enum: [1, 2]
                ticker:
                  type: string
                  description: Currency's ticker.
                address:
                  type: string
                  description: Can be used for filtering transactions by specific address.
                memo:
                  type: string
                  description: Can be used for filtering transactions by specific memo
                addresses:
                  type: array
                  items:
                    type: string
                  maxItems: 20
                  description: Can be used for filtering transactions by specific array of addresses.
                uniqueId:
                  type: string
                  description: Can be used for filtering transactions by specific unique id
                limit:
                  type: integer
                  minimum: 1
                  maximum: 100
                  default: 50
                  description: LIMIT is a special clause used to limit records a particular query can return.
                offset:
                  type: integer
                  minimum: 0
                  maximum: 10000
                  default: 0
                  description: If you want the request to return entries starting from a particular line, you can use OFFSET clause to tell it where it should start.
                status:
                  type: array
                  items:
                    type: integer
                  description: |
                    Can be used for filtering transactions by status codes.

                    ⚠️ Caution: You must use this parameter with appropriate `transactionMethod` and use valid status codes for this method. You can find them in the endpoint description above. Example: `"status": [3,7]`
                request:
                  type: string
                  description: Request signature
                nonce:
                  type: string
                  description: Unique request identifier
            example:
              transactionMethod: 1
              ticker: "BTC"
              offset: 0
              limit: 100
              status: [3, 7]
              request: "{{request}}"
              nonce: "{{nonce}}"
      responses:
        "201":
          description: All validations succeeded and creating transaction is started
          content:
            application/json:
              schema:
                type: object
                properties:
                  limit:
                    type: integer
                  offset:
                    type: integer
                  records:
                    type: array
                    items:
                      $ref: "#/components/schemas/TransactionHistory"
                  total:
                    type: integer
                    description: Total number of transactions, use this for calculating 'limit' and 'offset'
              example:
                limit: 100
                offset: 0
                records:
                  - address: "3ApEASLcrQtZpg1TsssFgYF5V5YQJAKvuE"
                    uniqueId: null
                    createdAt: 1593437922
                    currency: "Bitcoin"
                    ticker: "BTC"
                    method: 1
                    amount: "0.0006"
                    description: ""
                    memo: ""
                    fee: "0"
                    status: 15
                    network: null
                    transactionHash: "a275a514013e4e0f927fd0d1bed215e7f6f2c4c6ce762836fe135ec22529d886"
                    transactionId: "5e112b38-9652-11ed-a1eb-0242ac120002"
                    details:
                      partial:
                        requestAmount: "50000"
                        processedAmount: "39000"
                        processedFee: "273"
                        normalizeTransaction: ""
                    confirmations:
                      actual: 1
                      required: 2
                total: 300
        "400":
          description: Request validation failed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              examples:
                missingFields:
                  summary: Missing required fields
                  value:
                    code: 0
                    message: "Validation failed"
                    errors:
                      limit: ["The limit field is required."]
                      offset: ["The offset field is required."]
                      transactionMethod:
                        ["The transaction method field is required."]
        "422":
          description: Inner validation failed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorInner"

  /api/v4/main-account/create-new-address:
    post:
      tags:
        - Deposit
      summary: Create new address for deposit
      description: |
        This endpoint creates a new address even when the last created address is not used. This endpoint is not available by default, you need to contact support@whitebit.com in order to get permissions to use this endpoint.

        **Address types:**

        | Currency | Types               | Default |
        |----------|---------------------|---------|
        | BTC      | p2sh-segwit, bech32 | bech32  |
        | LTC      | p2sh-segwit, bech32 | bech32  |


        <Warning>
        Rate limit: 1000 requests/10 sec.
        </Warning>
      operationId: createNewAddress
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - ticker
                - request
                - nonce
              properties:
                ticker:
                  type: string
                  description: Currency's ticker.
                  example: XLM
                network:
                  type: string
                  description: |
                    Currency's network (for multinetwork currencies). Example: OMNI or TRC20 or ERC20. For USDT default network is ERC20(ETH).
                  example: ERC20
                type:
                  type: string
                  description: Address type, available for specific currencies list (see address types table in endpoint description)
                  enum: [p2sh-segwit, bech32]
                request:
                  type: string
                  description: Request signature
                nonce:
                  type: string
                  description: Unique request identifier
            examples:
              basic:
                summary: Basic request
                value:
                  ticker: "XLM"
                  request: "{{request}}"
                  nonce: "{{nonce}}"
              multinetwork:
                summary: Multinetwork currency
                value:
                  ticker: "USDT"
                  network: "ERC20"
                  request: "{{request}}"
                  nonce: "{{nonce}}"
              withAddressType:
                summary: BTC with specific address type
                value:
                  ticker: "BTC"
                  type: "bech32"
                  request: "{{request}}"
                  nonce: "{{nonce}}"
      responses:
        "201":
          description: All validations succeeded and creating transaction is started
          content:
            application/json:
              schema:
                type: object
                properties:
                  account:
                    type: object
                    properties:
                      address:
                        type: string
                        description: Deposit address
                      memo:
                        type: string
                        description: Memo if currency requires memo
                  required:
                    type: object
                    properties:
                      maxAmount:
                        type: string
                        description: Max amount of deposit that can be accepted by exchange - if you deposit more than that number, it won't be accepted by exchange
                      minAmount:
                        type: string
                        description: Min amount of deposit that accepted by exchange - if you deposit less than that number, it won't be accepted by exchange
                      fixedFee:
                        type: string
                        description: Fixed deposit fee
                      flexFee:
                        type: object
                        description: Flexible fee - is fee that use percent rate
                        properties:
                          maxFee:
                            type: string
                            description: Maximum fixed fee that you will pay
                          minFee:
                            type: string
                            description: Minimum fixed fee that you will pay
                          percent:
                            type: string
                            description: Percent of deposit that you will pay
              example:
                account:
                  address: "GDTSOI56XNVAKJNJBLJGRNZIVOCIZJRBIDKTWSCYEYNFAZEMBLN75RMN"
                  memo: "48565488244493"
                required:
                  maxAmount: "0"
                  minAmount: "1"
                  fixedFee: "0"
                  flexFee:
                    maxFee: "0"
                    minFee: "0"
                    percent: "0"
        "400":
          description: Request validation failed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              examples:
                missingTicker:
                  summary: Missing ticker field
                  value:
                    code: 0
                    message: "Validation failed"
                    errors:
                      ticker: ["The ticker field is required."]
        "422":
          description: Inner validation failed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorInner"

  /api/v4/main-account/codes:
    post:
      tags:
        - Codes
      summary: Create code
      description: |
        This endpoint creates WhiteBIT code.

        <Warning>
        Rate limit: 1000 requests/10 sec.
        </Warning>
      operationId: createCode
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - ticker
                - amount
                - request
                - nonce
              properties:
                ticker:
                  type: string
                  description: Currency's ticker.
                  example: ETH
                amount:
                  type: string
                  description: Amount to transfer. Max precision = 8, value should be greater than zero and your main balance.
                  example: "0.002"
                passphrase:
                  type: string
                  maxLength: 25
                  description: Passphrase for applying WhiteBIT codes. Passphrase must contain only latin letters, numbers and symbols (like !@#$%^, no whitespaces).
                description:
                  type: string
                  maxLength: 75
                  description: Additional text description for WhiteBIT codes. Visible only for creator.
                request:
                  type: string
                  description: Request signature
                nonce:
                  type: string
                  description: Unique request identifier
            example:
              ticker: "ETH"
              amount: "0.002"
              passphrase: "some passphrase"
              description: "some description"
              request: "{{request}}"
              nonce: "{{nonce}}"
      responses:
        "201":
          description: All validations succeeded and creating transaction is started
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: string
                    description: Generated WhiteBIT code
                  message:
                    type: string
                  external_id:
                    type: string
              example:
                code: "WBe11f4fce-2a53-4edc-b195-66b693bd77e3ETH"
                message: "Code was successfully created"
                external_id: "be08a482-5faf-11ed-9b6a-0242ac120002"
        "400":
          description: Request validation failed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              examples:
                missingFields:
                  summary: Missing required fields
                  value:
                    code: 0
                    message: "Validation failed"
                    errors:
                      amount: ["The amount field is required."]
                      ticker: ["The ticker field is required."]
                invalidTypes:
                  summary: Invalid field types
                  value:
                    code: 0
                    message: "Validation failed"
                    errors:
                      amount: ["The amount must be a number.", "Invalid number"]
                      description: ["The description must be a string."]
                      passphrase: ["The passphrase must be a string."]
                      ticker: ["The selected ticker is invalid."]
                invalidLengths:
                  summary: Invalid field lengths
                  value:
                    code: 0
                    message: "Validation failed"
                    errors:
                      amount: ["The amount must be at least 0."]
                      description:
                        [
                          "The description may not be greater than 75 characters.",
                        ]
                      passphrase:
                        [
                          "The passphrase may not be greater than 25 characters.",
                        ]
                      ticker: ["The selected ticker is invalid."]
        "422":
          description: |
            Inner validation failed

            Response error codes:
            - 0 - Fiat are available on the front-end only
            - 1 - currency is not withdrawable
            - 2 - specified address is invalid
            - 3 - amount is too small
            - 4 - amount is too small for the payment system
            - 5 - not enough balance
            - 6 - amount is less than or equals fee
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorInner"

  /api/v4/main-account/codes/apply:
    post:
      tags:
        - Codes
      summary: Apply code
      description: |
        This endpoint applies WhiteBIT code.

        <Warning>
        Rate limit: 60 requests/1 sec.
        </Warning>
      operationId: applyCode
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - code
                - request
                - nonce
              properties:
                code:
                  type: string
                  description: Code that will be applied.
                passphrase:
                  type: string
                  maxLength: 25
                  description: Passphrase that will be used if WhiteBIT codes was created with passphrase.
                request:
                  type: string
                  description: Request signature
                nonce:
                  type: string
                  description: Unique request identifier
            example:
              code: "WBe11f4fce-2a53-4edc-b195-66b693bd77e3ETH"
              passphrase: "some passphrase"
              request: "{{request}}"
              nonce: "{{nonce}}"
      responses:
        "201":
          description: All validations succeeded and creating transaction is started
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                  ticker:
                    type: string
                  amount:
                    type: string
                  external_id:
                    type: string
              example:
                message: "Code was successfully applied"
                ticker: "ETH"
                amount: "0.002"
                external_id: "be08a482-5faf-11ed-9b6a-0242ac120002"
        "400":
          description: Request validation failed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              examples:
                missingCode:
                  summary: Missing code field
                  value:
                    code: 0
                    message: "Validation failed"
                    errors:
                      code: ["The code field is required."]
                incorrectCode:
                  summary: Incorrect code or passphrase
                  value:
                    code: 0
                    message: "Validation failed"
                    errors:
                      code: ["Incorrect code or passphrase"]
        "422":
          description: Inner validation failed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorInner"

  /api/v4/main-account/codes/my:
    post:
      tags:
        - Codes
      summary: Get my codes
      description: |
        This endpoint retrieves the list of WhiteBIT codes created by my account.

        <Warning>
        Rate limit: 1000 requests/10 sec.
        </Warning>
      operationId: getMyCodes
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - request
                - nonce
              properties:
                limit:
                  type: integer
                  minimum: 1
                  maximum: 100
                  default: 30
                  description: LIMIT is a special clause used to limit records a particular query can return.
                offset:
                  type: integer
                  minimum: 0
                  maximum: 10000
                  default: 0
                  description: If you want the request to return entries starting from a particular line, you can use OFFSET clause to tell it where it should start.
                request:
                  type: string
                  description: Request signature
                nonce:
                  type: string
                  description: Unique request identifier
            example:
              request: "{{request}}"
              nonce: "{{nonce}}"
      responses:
        "201":
          description: All validations succeeded and creating transaction is started
          content:
            application/json:
              schema:
                type: object
                properties:
                  total:
                    type: integer
                    description: Total number of codes
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/CodeInfo"
                  limit:
                    type: integer
                  offset:
                    type: integer
              example:
                total: 15
                data:
                  - amount: "0.002"
                    code: "WBe11f4fce-2a53-4edc-b195-66b693bd77e3ETH"
                    date: 1598296332
                    status: "Activated"
                    ticker: "ETH"
                    external_id: "cf7c3ff8-5eb0-11ed-9b6a-0242ac120002"
                limit: 30
                offset: 0
        "400":
          description: Request validation failed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              examples:
                exceedsMaximum:
                  summary: Exceeds maximum values
                  value:
                    code: 0
                    message: "Validation failed"
                    errors:
                      limit: ["The limit may not be greater than 100."]
                      offset: ["The offset may not be greater than 10000."]
                belowMinimum:
                  summary: Below minimum values
                  value:
                    code: 0
                    message: "Validation failed"
                    errors:
                      limit: ["The limit must be at least 1."]
                      offset: ["The offset must be at least 0."]
                invalidType:
                  summary: Invalid field types
                  value:
                    code: 0
                    message: "Validation failed"
                    errors:
                      limit: ["The limit must be an integer."]
                      offset: ["The offset must be an integer."]
        "422":
          description: Inner validation failed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorInner"

  /api/v4/main-account/codes/history:
    post:
      tags:
        - Codes
      summary: Get codes history
      description: |
        This endpoint retrieves the whole codes history on your account.


        <Warning>
        Rate limit: 1000 requests/10 sec.
        </Warning>
      operationId: getCodesHistory
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - request
                - nonce
              properties:
                limit:
                  type: integer
                  minimum: 1
                  maximum: 100
                  default: 30
                  description: LIMIT is a special clause used to limit records a particular query can return.
                offset:
                  type: integer
                  minimum: 0
                  maximum: 10000
                  default: 0
                  description: If you want the request to return entries starting from a particular line, you can use OFFSET clause to tell it where it should start.
                request:
                  type: string
                  description: Request signature
                nonce:
                  type: string
                  description: Unique request identifier
            example:
              request: "{{request}}"
              nonce: "{{nonce}}"
      responses:
        "201":
          description: All validations succeeded and creating transaction is started
          content:
            application/json:
              schema:
                type: object
                properties:
                  total:
                    type: integer
                    description: Total number of code history entries
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/CodeHistory"
                  limit:
                    type: integer
                  offset:
                    type: integer
              example:
                total: 29
                data:
                  - amount: "+0.002"
                    code: "WBe11f4fce-2a53-4edc-b195-66b693bd77e3ETH"
                    date: 1598296734
                    status: "Activated"
                    ticker: "ETH"
                    external_id: "cf7c3ff8-5eb0-11ed-9b6a-0242ac120002"
                  - amount: "-0.002"
                    code: "WBe11f4fce-2a53-4edc-b195-66b693bd77e3ETH"
                    date: 1598296332
                    status: "Activated"
                    ticker: "ETH"
                    external_id: "52995812-5eb1-11ed-9b6a-0242ac120002"
                limit: 100
                offset: 0
        "400":
          description: Request validation failed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              examples:
                exceedsMaximum:
                  summary: Exceeds maximum values
                  value:
                    code: 0
                    message: "Validation failed"
                    errors:
                      limit: ["The limit may not be greater than 100."]
                      offset: ["The offset may not be greater than 10000."]
                belowMinimum:
                  summary: Below minimum values
                  value:
                    code: 0
                    message: "Validation failed"
                    errors:
                      limit: ["The limit must be at least 1."]
                      offset: ["The offset must be at least 0."]
                invalidType:
                  summary: Invalid field types
                  value:
                    code: 0
                    message: "Validation failed"
                    errors:
                      limit: ["The limit must be an integer."]
                      offset: ["The offset must be an integer."]
        "422":
          description: Inner validation failed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorInner"

  /api/v4/main-account/smart/plans:
    post:
      tags:
        - Crypto Lending - Fixed
      summary: Get plans
      description: |
        This endpoint retrieves all active plans.

        **Note:** When target currency is different from source currency, interest amount in target currency will be calculated using `interestRatio` value.

        **Examples:**
        - When source currency = USDT, target currency = BTC and interest ratio = 40000, it means that you will receive interest in BTC that equals interest amount in USDT divided by interest ratio (in this case 0.000025 BTC per each 1 USDT of interest amount).
        - When source currency equals target currency, interest ratio equals 1.


        <Warning>
        Rate limit: 1000 requests/10 sec.
        </Warning>
      operationId: getFixedPlans
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - request
                - nonce
              properties:
                ticker:
                  type: string
                  description: Invest plan source currency's ticker.
                request:
                  type: string
                  description: Request signature
                nonce:
                  type: string
                  description: Unique request identifier
            example:
              ticker: "USDT"
              request: "{{request}}"
              nonce: "{{nonce}}"
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/FixedPlan"
              example:
                - id: "8e667b4a-0b71-4988-8af5-9474dbfaeb51"
                  ticker: "USDT"
                  status: 1
                  percent: "10"
                  duration: 14400
                  interestTicker: "USDT"
                  interestRatio: "1"
                  minInvestment: "100"
                  maxInvestment: "10000"
                  maxPossibleInvestment: "3000"
        "400":
          description: Request validation failed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              examples:
                invalidTicker:
                  summary: Invalid ticker
                  value:
                    code: 0
                    message: "Validation failed"
                    errors:
                      ticker: ["The selected ticker is invalid."]

  /api/v4/main-account/smart/investment:
    post:
      tags:
        - Crypto Lending - Fixed
      summary: Invest
      description: |
        This endpoint creates a new investment to the specified invest plan.

        <Warning>
        Rate limit: 1000 requests/10 sec.
        </Warning>
      operationId: createFixedInvestment
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - planId
                - amount
                - request
                - nonce
              properties:
                planId:
                  type: string
                  description: Invest plan identifier
                amount:
                  type: string
                  description: Investment amount
                request:
                  type: string
                  description: Request signature
                nonce:
                  type: string
                  description: Unique request identifier
            example:
              planId: "8e667b4a-0b71-4988-8af5-9474dbfaeb51"
              amount: "100"
              request: "{{request}}"
              nonce: "{{nonce}}"
      responses:
        "201":
          description: Investment created successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    description: Investment identifier
              example:
                id: "0d7b66ff-1909-4938-ab7a-d16d9a64dcd5"
        "400":
          description: Request validation failed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              examples:
                invalidPlanOrAmount:
                  summary: Invalid planId or amount
                  value:
                    code: 0
                    message: "Validation failed"
                    errors:
                      planId: ["The selected planId is invalid."]
                      amount: ["The amount must be a number.", "Invalid number"]
                amountTooSmall:
                  summary: Amount below minimum
                  value:
                    code: 0
                    message: "Validation failed"
                    errors:
                      amount: ["The amount must be at least 0.000001."]
                amountExceedsAvailable:
                  summary: Amount exceeds plan availability
                  value:
                    code: 0
                    message: "Validation failed"
                    errors:
                      amount:
                        [
                          "The amount you are trying to invest is bigger than the amount left in this SMART plan. Please try investing a smaller amount.",
                        ]
                planDisabled:
                  summary: Plan is disabled
                  value:
                    code: 0
                    message: "Validation failed"
                    errors:
                      planId: ["Plan is disabled"]
                planInactive:
                  summary: Plan is inactive
                  value:
                    code: 0
                    message: "Validation failed"
                    errors:
                      planId: ["Plan is inactive"]
                noCoinsLeft:
                  summary: No coins left in plan
                  value:
                    code: 0
                    message: "Validation failed"
                    errors:
                      planId: ["There are no coins left in the plan"]
                planPaused:
                  summary: Plan is paused
                  value:
                    code: 0
                    message: "Validation failed"
                    errors:
                      planId: ["Plan is paused"]
        "422":
          description: |
            Inner validation failed

            Response error codes:
            - 1 - Investment already exists (when you don't have permissions to create multiple investments by plan)
            - 2 - Amount is less than min investment amount
            - 3 - Amount is greater than max investment amount
            - 4 - Not enough balance to create investment
            - 5 - No funds in plan to cover target interest amount
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorInner"
              examples:
                investmentExists:
                  summary: Investment already exists
                  value:
                    code: 1
                    message: "Inner validation failed"
                    errors:
                      planId:
                        [
                          "The investment in this investment plan already exists",
                        ]
                amountTooLow:
                  summary: Amount below plan minimum
                  value:
                    code: 2
                    message: "Inner validation failed"
                    errors:
                      amount:
                        [
                          "The amount you're trying to invest is lower than the minimum amount in this investment plan.",
                        ]
                amountTooHigh:
                  summary: Amount exceeds plan maximum
                  value:
                    code: 3
                    message: "Inner validation failed"
                    errors:
                      amount:
                        [
                          "The amount you're trying to invest exceeds the maximum amount in this investment plan.",
                        ]
                insufficientBalance:
                  summary: Insufficient balance
                  value:
                    code: 4
                    message: "Inner validation failed"
                    errors:
                      amount:
                        [
                          "Insufficient coins on your balance. 9 available, you're trying to invest 10",
                        ]
                insufficientFunds:
                  summary: Insufficient funds for payment
                  value:
                    code: 5
                    message: "Inner validation failed"
                    errors:
                      amount: ["Insufficient funds for the payment."]

  /api/v4/main-account/smart/investment/close:
    post:
      tags:
        - Crypto Lending - Fixed
      summary: Close investment
      description: |
        This endpoint closes active investment.

        <Warning>
        Rate limit: 1000 requests/10 sec.
        </Warning>
      operationId: closeFixedInvestment
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - id
                - request
                - nonce
              properties:
                id:
                  type: string
                  description: Investment identifier
                request:
                  type: string
                  description: Request signature
                nonce:
                  type: string
                  description: Unique request identifier
            example:
              id: "0d7b66ff-1909-4938-ab7a-d16d9a64dcd5"
              request: "{{request}}"
              nonce: "{{nonce}}"
      responses:
        "200":
          description: Investment closed successfully
          content:
            application/json:
              schema:
                type: object
              example: {}
        "400":
          description: Request validation failed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              examples:
                investmentNotFound:
                  summary: Investment not found
                  value:
                    code: 0
                    message: "Validation failed"
                    errors:
                      id: ["Investment not found"]

  /api/v4/main-account/smart/investments:
    post:
      tags:
        - Crypto Lending - Fixed
      summary: Get investments history
      description: |
        This endpoint retrieves an investments history.

        <Warning>
        Rate limit: 1000 requests/10 sec.
        </Warning>
      operationId: getFixedInvestmentsHistory
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - request
                - nonce
              properties:
                id:
                  type: string
                  description: Investment identifier
                ticker:
                  type: string
                  description: Invest plan source currency's ticker
                status:
                  type: integer
                  description: Investment status (1 - active, 2 - closed)
                  enum: [1, 2]
                limit:
                  type: integer
                  minimum: 1
                  maximum: 100
                  default: 100
                  description: LIMIT is a special clause used to limit records a particular query can return.
                offset:
                  type: integer
                  minimum: 0
                  maximum: 10000
                  default: 0
                  description: If you want the request to return entries starting from a particular line, you can use OFFSET clause to tell it where it should start.
                request:
                  type: string
                  description: Request signature
                nonce:
                  type: string
                  description: Unique request identifier
            example:
              id: "0d7b66ff-1909-4938-ab7a-d16d9a64dcd5"
              ticker: "USDT"
              status: 1
              request: "{{request}}"
              nonce: "{{nonce}}"
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  offset:
                    type: integer
                  limit:
                    type: integer
                  records:
                    type: array
                    items:
                      $ref: "#/components/schemas/Investment"
              example:
                offset: 0
                limit: 100
                records:
                  - id: "0d7b66ff-1909-4938-ab7a-d16d9a64dcd5"
                    plan:
                      id: "8e667b4a-0b71-4988-8af5-9474dbfaeb51"
                      ticker: "USDT"
                      status: 1
                      percent: "10"
                      duration: 14400
                      interestTicker: "USDT"
                      interestRatio: "1"
                      minInvestment: "100"
                      maxInvestment: "10000"
                      maxPossibleInvestment: "3000"
                    status: 1
                    created: 1646825196
                    updated: 1646825196
                    paymentTime: 1646839596
                    amount: "100"
                    interestPaid: "0"
        "400":
          description: Request validation failed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              examples:
                invalidFields:
                  summary: Invalid id, ticker, or status
                  value:
                    code: 0
                    message: "Validation failed"
                    errors:
                      id: ["The selected id is invalid."]
                      ticker: ["The selected ticker is invalid."]
                      status: ["The selected status is invalid."]

  /api/v4/main-account/smart/interest-payment-history:
    post:
      tags:
        - Crypto Lending - Fixed
      summary: Get interest payments history
      description: |
        This endpoint retrieves the history of interest payments.

        <Warning>
        Rate limit: 1000 requests/10 sec.
        </Warning>
      operationId: getInterestPaymentHistory
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - request
                - nonce
              properties:
                planId:
                  type: string
                  description: Invest plan identifier
                ticker:
                  type: string
                  description: Invest plan target currency's ticker
                limit:
                  type: integer
                  minimum: 1
                  maximum: 100
                  default: 100
                  description: LIMIT is a special clause used to limit records a particular query can return.
                offset:
                  type: integer
                  minimum: 0
                  maximum: 10000
                  default: 0
                  description: If you want the request to return entries starting from a particular line, you can use OFFSET clause to tell it where it should start.
                request:
                  type: string
                  description: Request signature
                nonce:
                  type: string
                  description: Unique request identifier
            example:
              planId: "8e667b4a-0b71-4988-8af5-9474dbfaeb51"
              ticker: "USDT"
              request: "{{request}}"
              nonce: "{{nonce}}"
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  offset:
                    type: integer
                  limit:
                    type: integer
                  records:
                    type: array
                    items:
                      $ref: "#/components/schemas/InterestPayment"
              example:
                offset: 0
                limit: 100
                records:
                  - planId: "8e667b4a-0b71-4988-8af5-9474dbfaeb51"
                    investmentId: "0d7b66ff-1909-4938-ab7a-d16d9a64dcd5"
                    amount: "10"
                    ticker: "USDT"
                    timestamp: 1646839596
        "400":
          description: Request validation failed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              examples:
                invalidFields:
                  summary: Invalid planId or ticker
                  value:
                    code: 0
                    message: "Validation failed"
                    errors:
                      planId: ["The selected planId is invalid."]
                      ticker: ["The selected ticker is invalid."]

  /api/v4/main-account/smart-flex/plans:
    post:
      tags:
        - Crypto Lending - Flex
      summary: Get Flex Plans
      description: |
        Retrieve list of active Flex Plans.

        Available after September 22, 2025.

        <Warning>
        Rate limit: 1000 requests/10 sec.
        </Warning>
      operationId: getFlexPlans
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - request
                - nonce
              properties:
                limit:
                  type: integer
                  maximum: 100
                  default: 100
                  description: Pagination limit.
                offset:
                  type: integer
                  minimum: 0
                  default: 0
                  description: Pagination offset.
                ticker:
                  type: string
                  description: Filter by currency ticker.
                request:
                  type: string
                  description: Request signature
                nonce:
                  type: string
                  description: Unique request identifier
            example:
              limit: 50
              offset: 0
              ticker: "USDT"
              request: "{{request}}"
              nonce: "{{nonce}}"
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/FlexPlan"
              example:
                - id: "8f2e9d3c-1a4b-4c2d-9e5f-6a7b8c9d0e1f"
                  ticker: "USDT"
                  minInvestment: "10.0"
                  maxInvestment: "100000.0"
                  maxRate: "0.15"
                - id: "7e1d8c2b-9a3b-3b1c-8d4e-5a6b7c8d9e0f"
                  ticker: "BTC"
                  minInvestment: "0.001"
                  maxInvestment: "10.0"
                  maxRate: "0.12"
        "400":
          description: Request validation failed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              examples:
                invalidFields:
                  summary: Invalid parameters
                  value:
                    code: 0
                    message: "Validation failed"
                    errors:
                      ticker: ["The selected ticker is invalid."]
                      limit:
                        [
                          "The limit must be an integer.",
                          "The limit may not be greater than 100.",
                        ]
                      offset:
                        [
                          "The offset must be an integer.",
                          "The offset must be at least 0.",
                        ]

  /api/v4/main-account/smart-flex/investments:
    post:
      tags:
        - Crypto Lending - Flex
      summary: Get User Flex Investments
      description: |
        Retrieve user's investment portfolio with optional filtering.


        <Warning>
        Rate limit: 1000 requests/10 sec.
        </Warning>
      operationId: getUserFlexInvestments
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - request
                - nonce
              properties:
                limit:
                  type: integer
                  default: 100
                  description: "Pagination limit. Default: 100."
                offset:
                  type: integer
                  default: 0
                  description: "Pagination offset. Default: 0."
                ticker:
                  type: string
                  description: "Filter by currency ticker. Example: USDT."
                plan:
                  type: string
                  description: Filter by plan ID (UUID).
                investment:
                  type: string
                  description: Filter by investment ID.
                investmentStatus:
                  type: integer
                  description: Filter by status (1=ACTIVE, 0=CLOSED).
                  enum: [0, 1]
                request:
                  type: string
                  description: Request signature
                nonce:
                  type: string
                  description: Unique request identifier
            example:
              limit: 100
              offset: 0
              ticker: "USDT"
              plan: "8f2e9d3c-1a4b-4c2d-9e5f-6a7b8c9d0e1f"
              investment: "invest_id_123"
              investmentStatus: 1
              request: "{{request}}"
              nonce: "{{nonce}}"
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/FlexInvestment"
                  limit:
                    type: integer
                  offset:
                    type: integer
              example:
                data:
                  - id: "inv_7e2d9c3b-1a4b-4c2d-9e5f-6a7b8c9d0e1f"
                    planId: "8f2e9d3c-1a4b-4c2d-9e5f-6a7b8c9d0e1f"
                    currency: "USDT"
                    invested: "1500.75"
                    withAutoReinvest: true
                    status: 1
                    createdAt: 1640995200
                    updatedAt: 1641081600
                limit: 100
                offset: 0
        "400":
          description: Request validation failed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              examples:
                invalidFields:
                  summary: Invalid parameters
                  value:
                    code: 0
                    message: "Validation failed"
                    errors:
                      ticker: ["The selected ticker is invalid."]
                      plan: ["The selected plan is invalid."]
                      investment: ["The selected investment is invalid."]
                      investmentStatus:
                        ["The selected investment status is invalid."]

  /api/v4/main-account/smart-flex/investments/history:
    post:
      tags:
        - Crypto Lending - Flex
      summary: Get Flex Investment History
      description: |
        Retrieve complete investment operations history with advanced filtering.


        **Available Action Types:**
        - 1: INVEST - Investment creation
        - 2: REINVEST - Automatic reinvestment
        - 3: WITHDRAW_FROM_INVESTMENT - Partial withdrawal
        - 4: DAILY_EARNING - Daily earnings
        - 5: CLOSE_INVESTMENT - Investment closure
        - 6: OPEN_INVESTMENT - Investment opening

        <Warning>
        Rate limit: 1000 requests/10 sec.
        </Warning>
      operationId: getFlexInvestmentHistory
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - request
                - nonce
              properties:
                limit:
                  type: integer
                  default: 50
                  description: Pagination limit.
                offset:
                  type: integer
                  default: 0
                  description: Pagination offset.
                plan:
                  type: string
                  description: Filter by plan ID (UUID).
                investment:
                  type: string
                  description: Filter by investment ID.
                transaction:
                  type: string
                  description: Filter by transaction ID.
                dateFrom:
                  type: integer
                  description: Filter from date (timestamp).
                dateTo:
                  type: integer
                  description: Filter to date (timestamp).
                actionTypes:
                  type: array
                  items:
                    type: integer
                  description: Array of operation type IDs. See table below.
                request:
                  type: string
                  description: Request signature
                nonce:
                  type: string
                  description: Unique request identifier
            example:
              limit: 50
              offset: 0
              plan: "8f2e9d3c-1a4b-4c2d-9e5f-6a7b8c9d0e1f"
              investment: "inv_123"
              transaction: "tx_456"
              dateFrom: 1640995200
              dateTo: 1641081600
              actionTypes: [1, 2, 4]
              request: "{{request}}"
              nonce: "{{nonce}}"
      responses:
        "200":
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/FlexInvestmentHistory"
                  limit:
                    type: integer
                  offset:
                    type: integer
              example:
                data:
                  - createdAt: 1640995200
                    planId: "8f2e9d3c-1a4b-4c2d-9e5f-6a7b8c9d0e1f"
                    investmentId: "inv_7e2d9c3b-1a4b-4c2d-9e5f-6a7b8c9d0e1f"
                    currency: "USDT"
                    amount: "15.75"
                    transactionId: "tx_9f3e0d4c-2b5c-4d3e-8f6g-7a8b9c0d1e2f"
                    actionType: 1
                limit: 50
                offset: 0
        "400":
          description: Validation failed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              example:
                code: 0
                message: "Validation failed"
                errors:
                  plan: ["The selected plan is invalid."]
                  investment: ["The selected investment is invalid."]
                  transaction: ["The selected transaction is invalid."]
                  dateFrom: ["The date from is invalid."]
                  dateTo: ["The date to is invalid."]
                  actionTypes: ["The action types must be an array."]
                  actionTypes.0: ["The selected action type is invalid."]

  /api/v4/main-account/smart-flex/investments/payment-history:
    post:
      tags:
        - Crypto Lending - Flex
      summary: Get Flex Payment History
      description: |
        Retrieve investment earnings history (ONLY DAILY_EARNING operations).

        **Note:** This endpoint automatically filters to show ONLY DAILY_EARNING operations (type 4).


        <Warning>
        Rate limit: 1000 requests/10 sec.
        </Warning>
      operationId: getFlexPaymentHistory
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - request
                - nonce
              properties:
                limit:
                  type: integer
                  default: 50
                  description: Pagination limit.
                offset:
                  type: integer
                  default: 0
                  description: Pagination offset.
                plan:
                  type: string
                  description: Filter by plan ID (UUID).
                investment:
                  type: string
                  description: Filter by investment ID.
                transaction:
                  type: string
                  description: Filter by transaction ID.
[...]
